<label class="ai1ec-control-label" for="{{ id }}">
  {{ label }}
</label>
<div>
  {{ page_selector|raw }}
  {% if link and title %}
  <p>
    <a target="_blank" href="{{ link }}">
      {{ view_label }} "{{ title|raw }}"
      <span class="dashicons dashicons-arrow-right-alt"></span>
    </a>
  </p>
  {% endif %}
</div>
