<label class="ai1ec-control-label " for="{{ id }}">
    {{ label | raw }}
</label>

{% if append is defined %}
<div class="{{ group_class is defined ? group_class : '' }}">
    <div class="ai1ec-input-group">
{% else %}
<div>
{% endif %}

{% from 'form-elements/input.twig' import input %}
{{ input( id, id, value, input_type, input_args ) }}

{% if append is defined %}
        <span class="ai1ec-input-group-addon">{{ append }}</span>
    </div>
{% endif %}

    {% if help is defined %}
    <div class="ai1ec-help-block">{{ help | raw }}</div>
    {% endif %}
</div>
