<label for="{{ id }}">
    {{ label | raw }}
</label>
<div class="textarea">
    {% if append is defined %}
    <div class="ai1ec-input-group">
    {% endif %}

        {% from 'form-elements/textarea.twig' import textarea %}
        {{ textarea( id, id, value, input_args ) }}

    {% if append is defined %}
        <span class="ai1ec-input-group-addon">{{ append }}</span>
    </div>
    {% endif %}
    {% if help is defined %}
        <div class=" ai1ec-help-block">{{ help | raw }}</div>
    {% endif %}
</div>
