<div id="{{ id }}" class="wp-core-ui">
    <p>
        {{ description }}
    </p>
    <div class="timely" id="ics-alerts"></div>
    <div class="ai1ec-form-horizontal">
        <div class="ai1ec-form-group">
            <label class="ai1ec-control-label ai1ec-pull-left" for="cron_freq">
                {{ cron_freq_label }}:
            </label>
            <div>
                {{ cron_freq|raw }}
            </div>
        </div>
    </div>
    <div id="ai1ec-feeds-after" class="osec-feed-container osec-well wp-clearfix">
        <div class="ai1ec-form-group ai1ec-feed-url-group">
            <label for="osec_feed_url">
                {{ feed_url_label }}
            </label>
            <div class="feed-url-container timely">
                <input type="text" placeholder="{{ feed_url_placeholder }}" name="osec_feed_url" id="osec_feed_url"  class="ai1ec-feed-url">
            </div>
        </div>
        <div class="osec-two-col">
            {{ events_categories|raw }}
            {{ event_tags|raw }}
        </div>
        {% if ics_feeds_header_header_html %}
            {{ ics_feeds_header_header_html }}
        {% endif %}
        <div class="ai1ec-feed-comments-enabled">
            <label for="osec_comments_enabled">
                <input type="checkbox" name="osec_comments_enabled" id="osec_comments_enabled" value="1">
                {{ allow_comments_label }}
            </label>
        </div>
        <div class="ai1ec-feed-map-display-enabled">
            <label for="osec_map_display_enabled">
                <input type="checkbox" name="osec_map_display_enabled" id="osec_map_display_enabled" value="1">
                {{ enable_maps_label }}
            </label>
        </div>
        <div class="ai1ec-feed-add-tags-categories">
            <label for="osec_add_tag_categories">
                <input type="checkbox" name="osec_add_tag_categories" id="osec_add_tag_categories" value="1">
                {{ add_tag_categories_label }}
            </label>
        </div>
        <div class="ai1ec-feed-keep-old-events">
            <label for="osec_keep_old_events">
                <input type="checkbox" name="osec_keep_old_events" id="osec_keep_old_events" value="1">
                {{ keep_old_events_label }}
            </label>
        </div>
        <div class="ai1ec-feed-import-timezone">
            <label for="osec_feed_import_timezone">
                <input type="checkbox" name="osec_feed_import_timezones" id="osec_feed_import_timezone" value="1">
                <span class="ai1ec-tooltip-toggle" title="{{ feed_import_timezone_info }}">
                {{ feed_import_timezone_label }}
            </span>
            </label>
        </div>
        {% if after_settings_html %}
            {{ after_settings_html }}
        {% endif %}
        <div class="ai1ec-pull-right">
            <button
                    id="osec_cancel_ics"
                    type="button"
                    class="button "
            >
                <i class="dashicons dashicons-no"></i>
                {{ cancel_button_text }}
            </button>
            <button id="osec_add_new_ics"
                    type="button"
                    class="button button-primary"
                    data-loading-text="{{ "<i class='dashicons dashicons-update dashicons-update-spin'></i>#{reloading_button_text}"|escape }}"
            >
                <span class="dashicons dashicons-plus"></span>
                <span id="osec_ics_add_new">{{ add_subscription_button_text}}</span>
                <span id="osec_ics_update" class="ai1ec-hidden">{{ update_subscription_button_text }}</span>
            </button>
        </div>
    </div>
    {% if feed_rows %}
        <div class="" id="osec-feeds-list">
            {{ feed_rows|raw }}
        </div>
    {% endif %}
    {{ modal|raw }}
</div>
