<div id="osec-event-cost-box">
    <table class="form-table">
        <tbody>
        <tr>
            <th scope="row">
                <label for="osec_cost">
                    {{ cost_label }}:
                </label>
            </th>
            <td>
                <input type="text"
                       name="osec_cost"
                       id="osec_cost"
                       class="ai1ec-form-control {% if is_free %}ai1ec-hidden{% endif %}"
                       value="{{ cost }}" />
                <p>
                    <input class="checkbox"
                           type="checkbox"
                           name="osec_is_free_event"
                           id="osec_is_free_event"
                           value="1"
                           {% if is_free %}checked="checked"{% endif %}
                    />
                    <label for="osec_is_free_event">
                        {{ is_free_event_label }}
                    </label>
                </p>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <label for="osec_ticket_url">
                    {{ ticket_url_label }}
                </label>
            </th>
            <td>
                <input
                        type="text"
                        name="osec_ticket_url"
                        id="osec_ticket_url"
                        class="ai1ec-form-control"
                        value="{{ ticket_url }}"
                />
            </td>
        </tr>
        </tbody>
    </table>
</div>
