<div class="ai1ec-panel-heading">
    <a data-toggle="ai1ec-collapse"
       data-parent="#osec-add-new-event-accordion"
       href="#osec-event-cost-box">
        <i class="ai1ec-fa ai1ec-fa-shopping-cart ai1ec-fa-fw"></i>
        {{ pane_title }}
        <i class="ai1ec-fa ai1ec-fa-warning ai1ec-fa-fw ai1ec-hidden"></i>
    </a>
</div>
<div id="osec-event-cost-box" class="ai1ec-panel-collapse ai1ec-collapse">
    <div class="ai1ec-panel-body">
        <table class="ai1ec-form">
            <tbody>
            <tr>
                <td class="ai1ec-first ai1ec-cost-label">
                    <label for="osec_cost">
                        {{ cost_label }}:
                    </label>
                </td>
                <td>
                    <input type="text"
                           name="osec_cost"
                           id="osec_cost"
                           class="ai1ec-form-control {% if is_free %}ai1ec-hidden{% endif %}"
                            value="{{ cost }}" />
                    <label for="osec_is_free_event">
                        <input class="checkbox"
                               type="checkbox"
                               name="osec_is_free_event"
                               id="osec_is_free_event"
                               value="1"
                              {% if is_free %}checked="checked"{% endif %}
                        />
                        {{ is_free_event_label }}
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="osec_ticket_url">
                        {{ ticket_url_label }}
                    </label>
                </td>
                <td>
                    <input
                        type="text"
                        name="osec_ticket_url"
                        id="osec_ticket_url"
                        class="ai1ec-form-control"
                        value="{{ ticket_url }}" />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
