<details id="ai1ec-feed-{{ feed_id }}" class="osec-feed-panel osec-feed-container">
    <summary>{{ feed_name }}</summary>
    <div class="inside ai1ec-feed-content">
        <div class="ai1ec-feed-url-group ai1ec-form-group">
            <label for="feed-{{ feed_id }}">{{ feed_url_label }}</label>
            <div>
                <input
                        name="osec_feed_url"
                        id="feed-{{ feed_id }}"
                        type="text"
                        class="saved-feed-url ai1ec-feed-url"
                        readonly="readonly"
                        value="{{ feed_url }}"
                >
            </div>
        </div>
        <input type="hidden" name="feed_id" class="ai1ec_feed_id" value="{{ feed_id }}">
        <div class="ai1ec-clearfix">
            {% if event_category %}
                <div class="ai1ec-feed-category"
                     data-ids="{{ events_categories_ids }}">
                    {{ categories_label }}:
                    <strong>{{ event_category }}</strong>
                </div>
            {% endif %}
            {% if tags %}
                <div class="ai1ec-feed-tags ai1ec-pull-left"
                     data-ids="{{ tags_ids }}">
                    {{ tags_label}}:
                    <strong>{{ tags }}</strong>
                </div>
            {% endif %}
        </div>

        {{ feeds_options_header_html|raw }}

        <div class="ai1ec-clearfix">
            <div class="ai1ec-feed-comments-enabled"
                 data-state="{{ comments_enabled }}">
                {{ comments_label }}:
                <strong>
                    {% if comments_enabled %} {{ yes }} {% else %}{{ no }}{% endif %}
                </strong>
            </div>
            <div class="ai1ec-feed-map-display-enabled"
                 data-state="{{ map_display_enabled }}">
                {{ show_map_label }}:
                <strong>
                    {% if map_display_enabled %} {{ yes }} {% else %}{{ no }}{% endif %}
                </strong>
            </div>
        </div>
        <div class="ai1ec-feed-keep-tags-categories"
             data-state="{{ keep_tags_categories }}">
            {{ keep_taxonomy_label }}:
            <strong>
                {% if keep_tags_categories %} {{ yes }} {% else %}{{ no }}{% endif %}
            </strong>
        </div>
        <div class="ai1ec-feed-keep-old-events"
             data-state="{{ keep_old_events }}">
            {{ keep_old_events_label }}:
            <strong>
                {% if keep_old_events %} {{ yes }} {% else %}{{ no }}{% endif %}
            </strong>
        </div>
        <div class="ai1ec-feed-import-timezone"
             data-state="{{ feed_import_timezone }}">
            <span class="ai1ec-tooltip-toggle" title="{{ feed_import_timezone_info }}">{{ feed_import_timezone_label }}:</span>
            <strong>
                {% if feed_import_timezone %} {{ yes }} {% else %}{{ no }}{% endif %}
            </strong>
        </div>
        {{ feeds_options_after_settings_html|raw }}
        <div class="ai1ec-btn-group ai1ec-pull-right ai1ec-feed-actions">
            <button type="button"
                    class="button osec_update_ics"
                    data-loading-text="{{ "<i class='dashicons dashicons-update dashicons-update-spin'></i>#{reloading_button_text}"|escape }}"
            >
                <span class="dashicons dashicons-update"></span>
                {{ reloading_button_text }}
            </button>
            <button type="button" class="button button-warning ai1ec_edit_ics">
                <span class="dashicons dashicons-edit"></span>
                {{ edit_button_text }}
            </button>
            <button type="button"
                    class="button button-danger osec_delete_ics"
                    data-loading-text="{{ remove_button_loading_text }}"
            >
                <span class="dashicons dashicons-trash"></span>
                {{ remove_button_text }}
            </button>
        </div>
    </div>
</details>
