<div class="ai1ec-event-avatar timely {{ classes }}">
    {% if link %}
        <a href="{{ link }}">
    {% endif %}
            <img src="{{ src }}" alt="{{ alt }}"  {% if width %} width="{{ width }}"{% endif %} {% if height %} height="{{ height }}"{% endif %} />
    {% if link %}
        </a>
    {% endif %}
</div>