<div class="ai1ec-pagination ai1ec-btn-group">
	{% for link in links %}
		{% if link is iterable %}
			{% set tag =  link.enabled ? "a" : "button" %}
			<{{ tag }} class="{{ link.class }} ai1ec-load-view ai1ec-btn ai1ec-btn-sm
				ai1ec-btn-default {% if not link.enabled %}ai1ec-disabled{% endif %}"
				{{ data_type | raw }}
				{% if not link.enabled %}
					disabled="disabled"
				{% else %}
					href="{{ link.href | e('html_attr') }}"
				{% endif %}>
				{{ link.text | raw }}
			</{{ tag }}>
		{% else %}
			{{ link | raw }}
		{% endif %}
	{% endfor %}
</div>
