<div class="subscribe-buttons">
	<i class="ai1ec-fa ai1ec-icon-rss ai1ec-fa-fw"></i>
	<div class="plana-flyout-menu plana-flyout-menu--wide">
		<button class="plana-flyout-menu--button">
			{% if is_single_event %}
				{{ subscribe_text.single_event }}
			{% elseif is_filtered %}
				{{ subscribe_text.filtered }}
			{% else %}
				{{ subscribe_text.unfiltered }}
			{% endif %}
			<span class="caret">▾</span>
		</button>
		<ul class="plana-flyout-menu--menu" role="menu">
			<li>
				<a class="link" target="_blank" title="{{ title.google }}" href="http://www.google.com/calendar/render?cid={{ url_webcal_no_html | url_encode }}">
					<i><svg width=".9em" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"><path d="M32.582 370.734C15.127 336.291 5.12 297.425 5.12 256c0-41.426 10.007-80.291 27.462-114.735C74.705 57.484 161.047 0 261.12 0c69.12 0 126.836 25.367 171.287 66.793l-73.31 73.309c-26.763-25.135-60.276-38.168-97.977-38.168-66.56 0-123.113 44.917-143.36 105.426-5.12 15.36-8.146 31.65-8.146 48.64 0 16.989 3.026 33.28 8.146 48.64l-.303.232h.303c20.247 60.51 76.8 105.426 143.36 105.426 34.443 0 63.534-9.31 86.341-24.67 27.23-18.152 45.382-45.148 51.433-77.032H261.12v-99.142h241.105c3.025 16.757 4.654 34.211 4.654 52.364 0 77.963-27.927 143.592-76.334 188.276-42.356 39.098-100.305 61.905-169.425 61.905-100.073 0-186.415-57.483-228.538-141.032v-.233z"/></svg></i>
					{{ label.google }}
				</a>
			</li>
			<li>
				<a class="link" target="_blank" title="{{ title.outlook }}" href="{{ url_webcal }}">
					<i class="ai1ec-fa ai1ec-icon-windows  ai1ec-fa-fw"></i>
					{{ label.outlook }}
				</a>
			</li>
			<li>
				<a class="link" target="_blank" title="{{ title.apple }}" href="{{ url_webcal_no_html }}">
					<i class="ai1ec-fa ai1ec-icon-apple  ai1ec-fa-fw"></i>
					{{ label.apple }}
				</a>
			</li>
			<li>
				<a class="link" title="{{ title.plaintext }}" href="{{ url_webcal_no_html }}">
					<i class="ai1ec-fa ai1ec-icon-calendar ai1ec-fa-fw"></i>
					{{ label.plaintext }}
				</a>
			</li>
			<li>
				<a class="link" title="{{ title.download }}" href="{{ url_download }}">
					<i class="ai1ec-fa ai1ec-icon-calendar ai1ec-fa-fw"></i>
					{{ label.download }}
				</a>
			</li>
		</ul>
	</div>
</div>
